{% extends 'diary/base.html' %} {% block content %}
<!-- 基本的に入力フォームを作成する際はformタグ、buttontype="submit"必須。actionには送信先のurlを記述するが、djangoでは基本的に空(同じページに対して送信) -->
<p>{{ day.title }}</p>
<form action="" method="POST">
  <table class="table">
    <tr>
      <th>タイトル</th>
      <td>{{form.title}}</td>
    </tr>
    <tr>
      <th>本文</th>
      <td>{{form.text}}</td>
    </tr>
    <tr>
      <th>日付</th>
      <td>{{form.date}}</td>
    </tr>
  </table>
  <!--{{form.as_p}-->>
  <button type="submit">送信</button>
  <!-- POSTでのデータ送信は必ずcsrf_tokenを書く(クロスサイトリクエストフォージェリ対策) -->
  {% csrf_token %}
</form>
{% endblock %}
